/* layout */
* {
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#img_1 {
  width: 300px;
  height: 35px;
  margin-top: 18px;
  align-content: flex-start;
}

ul {
  list-style-type: none;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 450px;
}

.img_wrap {
  margin-right: 400px;
}

nav {
  width: 100%;
}

.centered {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
}

.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
section {
  margin-top: 40px;
}
input[type="email"] {
  margin-bottom: 16px;
  width: 275px;
  height: 29px;
}

input[type="submit"],
button {
  width: 200px;
  height: 29px;
}

.left {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 20px;
}

#img_2 {
  height: 50px;
  width: 50px;
}

.text-boxed {
  justify-content: center;
}

.img_of_vert {
  margin-right: 60px;
}
.img_icon {
  height: 50px;
  width: 45px;
  margin-bottom: -3px;
}
.vert_header {
  margin-bottom: 5px;
}

.vert_text {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}

#first_vert {
  margin-top: 100px;
}
#aline {
  margin-left: 140px;
}

.vert_size {
  height: 125px;
  width: 800px;
}

iframe {
  margin: auto;
}

#iframe_marg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.header_of_box {
  height: 60px;
  padding: 15px 0;
  width: 100%;
}

/* component style */

body {
  background-color: #eee;
}
header {
  background-color: #eee;
}

input[type="submit"],
button {
  color: black;
  background-color: #f1c40f;
}

.box {
  margin: 20px;
  height: 300px;
  width: 313px;
  border: 2px solid black;
  text-align: center;
}
.pricing {
  display: flex;
  justify-content: center;
}

.header_of_box {
  font-family: "Roboto", sans-serif;
  background-color: #ddd;
  font-weight: 700;
}

/* typography */

.header_text {
  font-size: 20px;
}

.inside_text {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

#headline_of_page {
  font-size: 35px;
}

header {
  font-family: "Roboto", sans-serif;
}

input[type="submit"],
button {
  font-size: 25px;
  font-weight: 600;
}

.vert_header {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.vert_size {
  font-size: 22px;
}
